* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}
body {
  background-color: rgb(255, 255, 255);
}
.cabecalho {
  display: flex;
  align-items: center !important;
  background-color: rgb(10, 10, 10);
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 8em;
  z-index: 2;
  margin: 0 auto;
}
.name_broke {
  font-family: "Lexend", sans-serif;
  color: aliceblue;
  font-size: 2em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5), 3px 1px 15px rgba(0, 0, 0, 0.56);
}
.menus {
  display: flex;
  list-style: none;
  margin: 1px;
  gap: 2;
  padding: 20px;
}
li, a{
  padding: 5px;
  cursor: pointer;
}
a {
  text-decoration: none !important;
  color: white !important;
  padding: 5px;
  margin-left: 5px;

}
.center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  gap: 10em;
}
.section_p {
  margin-top: 25px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #6c757d;
}

.titulo_2 {
  font-size: 3.5em;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5),
    3px 1px 15px rgba(0, 0, 0, 0.36);
}
input,
select {
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
}
.formulario {
  border: solid 1px rgb(0, 0, 0);
  padding: 60px;
  height: 32em;
  width: 30em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: -3px 4px 28px -4px rgba(0, 0, 0, 0.85);
  box-shadow: -3px 4px 28px -4px rgba(0, 0, 0, 0.85);
  transition: linear 0.3s;
  margin-top: 85px;
}
.navegacao{
  color: white;
}
.formulario:hover {
  background-color: rgb(25, 25, 26);
}
.p-form {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.section_p {
  text-align: justify;
  display: block;
  width: 27em;
}
.row_1,
.row_2,
.row_4,
.row_3 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
input {
  border-radius: 5px;
  border: none;
}
.btn-sub {
  cursor: pointer;
  font-size: 19px;
  margin-top: 1em;
}
.LoginForm {
  width: 20em;
  height: 500px;
}
.article{
  width: 85%;
  margin: 0 auto;
  margin-top: 8em;
  border-radius: 10px;
  margin-bottom: 2em;
  background-color: #f9f9f9;
  box-sizing: border-box;
}
.cards{
  display: flex;
  justify-content: center;
  align-items:center;
  color: #6c757d;
  text-align: justify !important;
  box-sizing: border-box;
  width: 100%;
}
.icon-card{
  text-align: center;
  font-size: 5em;
}
.article-title{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  width: 15em;
  height: 1em;
}
.p-text{
  width: 18em;
  height: 10em;
}

.card_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
  padding: 35px;
  transition: linear 0.3s;
  width: 100%;
}
.card_1:hover{
  background-color: rgb(3, 3, 3);
  color: white;
}

.btn-cards{
  padding: 1em;
  width: 15em;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 30px;
  color: #000000;
  transition: linear 0.2s;
  
}
.carousel{
  margin-top: 22em;
}
.carousel{
  width: 50em;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  margin-bottom: 2em;
}
.btn-outline-success{
  padding: 0;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  width: 7em;
  color: black !important;
  transition: linear 0.3s;
}
.btn-outline-success:hover{
  background-color: #ebdfdf !important;
}
.p-ap{
  color: white;
  text-shadow: 0px 1px 9px rgb(2, 2, 2);
}
.title-ap{
  color: white;
  text-shadow: 0px 1px 9px rgb(0, 0, 0);
}
.form-control{
  width: 3em;
}
.end{
  background-color: black;
  width: 100%;
  height: 28em;
}
.card-group-r{
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.card{
  width: 25em;
  margin-bottom: 10em !important;

}
.card-text{
  font-style: italic;
}
.end{
  display: flex;
  flex-direction: column;
  color: white;
  
}
.footer-main{
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  align-items: baseline;
}
.card-img-top{
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.second-fl{
  list-style: none !important;
  padding: 0 !important;
}
.first-f,.second-f, .three-f, .four-f{
  width: 25%;
  padding: 1em;
}
.second-f{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.four-f{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:left;

}
.navbar, .container-fluid{
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.fa-facebook, .fa-instagram, .fa-whatsapp, .fa-linkedin{
  font-size: 2em;
}
.div-2{
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin-bottom: 0 !important;
}
.camp-cad{
  margin-top: 0.5em;
  font-family: sans-serif;
  text-align: center;
}
.main-form{
  margin: 0 auto;
  
}
.first_form{
  width: 45%;
  margin: 0 auto;
  padding: 0;
  
  padding: 2em;
  border-radius: 15px;
  background-color:#f9f9f9

}
.first_form input{
  width: 15em;

}
.row{
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.first-colun{
  display: flex;
  width: 100%;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box;
}
.sub{
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.second-form{
  width: 45%;
  margin: 0 auto;
  padding: 0;
  border: #000000 solid 1px;
  padding: 2em;
  border-radius: 15px;
  
}
.division{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btn-primary{
  display: block;
  margin: 0 auto !important;
  margin-top: 1em !important;
  margin-bottom: 3em !important;
  
}
.form-select{
  width: 15em !important;
}
.contact-main{
  height: 35em;
}
.contact-main h1{
  text-align: center;
  font-family: sans-serif;
  border-top: 2em;
  font-weight: bold;
}
.contact-main{
  margin-top: 2em;
}
.flex-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  gap: 3em;
}
.icon-contact{
  font-size: 3em;
}
.cards-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-fat-link{
  color: black !important;
}
.forma-contac{
  font-weight: bold;
  padding: 0;
  font-size: 1.3em;
}
.contact-fat{
  padding: 0;
  margin-top: 0;
}
.p-footer{
  color: white !important;
}
.notice-container{
  height: 85em;
  display: flex;
  flex-direction: column;
}
.notices-flex{
  margin-top: 0.2em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  height: 35em;
  margin-top: 2.9em;
}
.p-notice{
  color: blue!important;
  font-size: 0.9em;
  transition: linear 0.4s;
}
.p-notice:hover{
  color: rgb(11, 0, 73) !important;
  background: white;
}
.h1-notice{
  text-align: center;
  padding: 0.3em;
  font-family: sans-serif;
  display: block;
}
.card-body{
  height: 15em;
}
.card-text{
  height: em;
}
.card-title{
  font-weight: bold;
}